{% extends "base.html" %}

{% block content %}
<div id="holder" class="carousel slide holder" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    {% if default %}
    <div class="carousel-item active"  data-bs-interval="false">
      <img src="{{ default }}" class="d-block w-100">
    </div>
    {% else %}
    <h6 style="color: red"> Нет дефолтного изображения</h6>
    <h6 style="color: red">Функциональность может быть нарушена</h6>
    {% endif %}
    {% for i, item in images%}

    <div class="carousel-item"  data-bs-interval="false">
      <img src="{{ item.get_image() }}" class="d-block w-100">
    </div>

    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#holder" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#holder" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<script type="text/javascript">

function get_current_image() {
        var holder = document.querySelector('#holder');
        var carousel = bootstrap.Carousel.getInstance(holder); // Retrieve a Carousel instance
        $.ajax({
            url: '/api/current_image',
            type: 'get',
            response: 'json',
            success: function(data) { var holder = document.querySelector('#holder');
                                      var carousel = bootstrap.Carousel.getInstance(holder);
                                      if (data["image"]) carousel.to(data["image"]);}
        });

};


get_current_image();
setInterval(get_current_image, 1000);

</script>
{% endblock %}
